body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-title > label,
.new-content > label,
.edit-content > label {
  width: 80px;
}

.new-title, .new-content, .edit-content {
  display: flex;
  align-items: flex-start;
}

.button-wrapper {
  margin-left: 80px;
  display: flex;
  justify-content: flex-start;
}

#submit {
  width: 100px;
}