{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'create' %}"method="POST">
        {% csrf_token %}
        <div class="new-title">
            <label for="newpage-title">Title:</label>
            <input type="text" id="newpage-title" name="newpage-title" required>
        </div>
        <div class="new-content">
            <label for="newpage-content">Content:</label>
            <textarea id="newpage-content" name="newpage-content" rows="10" cols="50" placeholder="Enter Markdown format"></textarea>
        </div>
        <button type="submit">Create Page</button>
    </form>
{% endblock %}
