{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="listing-grid">
    {% for listing in listings %}
        <div class="listing">
            {% if listing.image %}
            <!-- if there is an image -->
             <div class="index-img-div">
                <img class="index-image" src="{{ listing.image }}" alt="{{ listing.title }}">
            </div>
            {% endif %}
            <div class="index-text-div">
            <h3 class="index-title"><a href="{% url 'listing' listing_id=listing.id %}">{{ listing.title }}</a></h3>
            
            <p><strong>Price:</strong> ${{ listing.starting_bid }}</p>
            {% if listing.category %}
                <p><strong>Category:</strong> {{ listing.get_category_display }}</p>
                <!-- {{ listing.get_category_display }} is a way to get the human-readable label instead of
                  what is stored in the database -->
            {% endif %}
            <p>{{ listing.description }}</p>
            </div>
            
            
        </div>
    

    {% empty %}
    <!-- if no listings-->
        <p>No active listings available.</p>
    {% endfor %}
</div>
{% endblock %}