{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <p><strong>Price:</strong> ${{ listing.starting_bid }}</p>
    {% if listing.category %}
        <p><strong>Category:</strong> {{ listing.get_category_display }}</p>
    {% endif %}

    {% if listing.image %}
        <img src="{{ listing.image }}" alt="{{ listing.title }}" class="img-thumbnail">
    {% endif %}
    
    {% if user.is_authenticated %}
        {% if user not in listing.watchers.all %}
            <a href="{% url 'add_to_watchlist' listing_id=listing.id %}">Add to Watchlist</a>
        {% else %}
            <a href="{% url 'remove_from_watchlist' listing_id=listing.id %}">Remove from Watchlist</a>
        {% endif %}
    {% endif %}
{% endblock %}