{% extends "auctions/layout.html" %}



{% block body %}
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <p><strong>Price:</strong> ${{ listing.starting_bid }}</p>
    {% if listing.category %}
        <p><strong>Category:</strong> {{ listing.get_category_display }}</p>
    {% else %}
        <p><strong>Category:</strong> Not specified</p>
    {% endif %}

    {% if listing.image %}
        <img class="listing-image" src="{{ listing.image }}" alt="{{ listing.title }}" class="img-thumbnail">
    {% endif %}

    <p>Owner: <strong>{{ listing.owner.username }}</strong></p>

    {% if not listing.is_active %} <!-- if auction is closed -->
        {% if not winner %} <!-- if no bids were placed -->
            <p>Auction closed. No bids were placed</p>
        {% endif %}
        {% if winner == user and user.is_authenticated %} <!-- if current user won -->
            <p>You won this auction!</p>
        {% else %} <!-- if someone else won-->
            <p>Auction won by {{ winner.username }}</p>
        {% endif %}
    {% endif %}
    
    {% if user.is_authenticated and listing.is_active %} <!-- if auction is open -->
        {% if user != listing.owner %} <!-- place bid if not owner -->
        <form action="{% url 'bid' listing_id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
            <details {% if messages %}open{% endif %}> <!-- expandable section to place bid -->
                <summary>
                    Place a bid
                </summary>
                {% if messages %}
                    {% for message in messages %}
                        {% if "failed_bid" in message.tags %}
                            <p class="alert alert-danger">{{ message }}</p>
                        {% elif "successful_bid" in message.tags %}
                            <p class="alert alert-success">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <input id="bid_amount" class="form-control" type="number" name="bid_amount" placeholder="Enter bid amount" step="0.01" required>
                <button class="btn btn-primary" type="submit">Submit bid</button>
            </details>
            </div>
        </form>
        {% endif %}
        <form action="{% url 'comment' listing_id=listing.id %}" method="POST">

            {% csrf_token %}
            <label id="comment-label" for="comment">Add a comment:</label>
                {% if messages %}
                    {% for message in messages %}
                        {% if "empty_comment" in message.tags %}
                            <p class="alert alert-danger">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            <textarea id="comment" name="comment" placeholder="Input comments here"></textarea>
            <button id="submit-comment" class="btn btn-primary" type="submit">Upload comment</button>
        </form>
        {% if user not in listing.watchers.all %}
            <a class="toggle-watchlist" href="{% url 'add_to_watchlist' listing_id=listing.id %}">Add to Watchlist</a>
        {% else %}
            <a class="toggle-watchlist" href="{% url 'remove_from_watchlist' listing_id=listing.id %}">Remove from Watchlist</a>
        {% endif %}

        {% if user == listing.owner %} <!-- close auction if owner -->
            <form action="{% url 'close_listing' listing_id=listing.id %}" method="POST">
                {% csrf_token %}
                <button id="close-auction" type="submit">Close Auction</button>
            </form>
        {% endif %}

            
    {% endif %}

    <h3>View all comments</h3>
    <ul>
        {% for comment in comments %}
        <li>{{ comment.commenter }} - {{ comment.comment }}</li>
        {% endfor %}
    </ul>

{% endblock %}