.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: white;
}

.post-list {
    list-style-type: none;
}

.post-anchor {
    text-decoration: none;
    color: black;
}

.post-anchor:hover {
    text-decoration: none;
}

.pagination-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}